@charset "utf-8";
/*Documento original CSS*/

body{
    background-color:#f7f2f2;
}

#cabecera{
    background-color:  #1a2f66;
    height: 150px;
    border-radius: .5em;
    max-width: 90%;
    margin: auto;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black ;
}

.navegacionPrin{
    list-style: none;
    background: #DCDCDC;
    padding:0px;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
    
}

.navegacionPrin li a{
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.4em black;
    color:black;
    padding:20px;
    display:black;
    border-radius: .5em;
}

.navegacionPrin li{
    display: inline-block;
    text-align: center;
    background-color: #DCDCDC;
    color:black;
}

.navegacionPrin li a:hover{
    background: #b16257;
    color: #f5f8fa;
    text-shadow: 0.1em 0.1em 0.2em black ;
}

li{
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
}

#cont{
    max-width: 90%;
    margin: auto;
    background-color:rgb(255, 255, 255);
    min-height: 500px;
}

#contenidoPrincipal{
    border-radius: .5em;
    background-color:white;
    margin-right:30px;
    margin-left:30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    min-height: 500px;
    /*border: 1px solid;
    border-color: #2d3e50;*/
}

#Biografia{
    color: rgb(5, 5, 5);
    text-align: justify;
    margin-left: 10%;
}


.articulo1{
    border:1px solid;
}

#titulo{
    color: brown;
    text-align: center;
}
#texto-links{
    color: #1a2f66;
    margin-right: 100%;
}
#links{
    margin:auto;
    height: 70px;
    background-color: #661005;
    align-content: center;
}
#links-1{
   align-content: center;
   margin-top: 1cm;
}
#links-2{
    align-content: center;
 
}

#imagen{
    float:right;
    max-width: 300px;
    margin-top: 50px;
}

#piePrin{
    background-color: #6d1b10;
    clear:both;
    margin-top:30px;
    height: 200px;
    border-radius: .5em;
    max-width: 90%;
    margin: auto;
    text-align: center;
    border: 1px solid;
    border-color: #2d3e50;
    
}

h2 {
    color:black;
    font: normal 16px arial;
  }
  

h3 {
    color:#d14942;
    font: normal 22px arial;
    font-weight:bold;
}
h4 {
    color:#FFFFFF;
    font: normal 20px arial;
  }
h5 {
    color:#000000;
    font: normal 20px arial;
}
p{
    color:#3c268b;
    font: normal 15px arial;
}


/*css para estudios academicos*/S
#contTabla{
    width: 1200px;
    margin: auto;
    
}
table{
    width: 100%;
    text-align: center;
    border: 1px solid rgb(202, 196, 196);
    border-collapse: collapse;
    margin-bottom: 20%;
    margin-top: 5%;
    margin:auto;
 }
table th{
    background-color: rgba(222, 227, 228, 0.932);
    border: 1px solid #ddd;
}
#cabeceraTabla{
    color: brown;
}
th, td{
    margin: auto;
    padding: 20px;
}
table thead th{
    background-color: rgb(225, 226, 226);
}
table tbody tr:hover{
    background-color: rgb(225, 226, 226);
}
table tbody td:hover{
    
    background-color: rgb(204, 218, 235);
}

/*css para pasatiempos*/
.grid-container{
    display: grid;
    background-color: #f0f2f8;
    grid-template-columns: auto auto  ;

}
.grid-container div{
    background-color: #ffffff;
    text-align: center;
    color: black;
}
.imagen{
    width: 48%;
    border-radius: 1.5cm;
}

/*css para contacto*/

form{
    margin-bottom: 100px;
    margin:auto;
    color: #b41d1d;
    padding: 30px;
    box-sizing: border-box;
    width: 400px;
    background-color: #ffffff;  
}
#lbl-contacto{
    font-size: 22px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background-color: #f0f2f8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #242670;
}
.botons{
    width: 107%;
    background-color: #a8aaaf;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #242670;
}

#lstProyectos{
    width: 90%;
    margin: auto;
}
.proyectos{
    
    font-size: large;

}

/* Table */
/*
.contTabla{
    margin: 150px auto;
    width: 600px;
}
table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 20px;
}

thead{
    background-color: #b0e07a;
    color: white;
}

tr:nth-child(even){
    background-color: rgba(29, 28, 28, 0.29);
}
tr:hover td{
    background-color: #0F2027;
    color: white;
}
*/